.stat_block {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: span 3 / span 3;
    padding: 1rem;
    background: var(--cds-layer);
    border: 1px solid var(--cds-border-subtle-01);
    color: var(--cds-text-primary);

    & > .status_bar {
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--cds-border-interactive);
    }

    & > .icon {
        display: none;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        background: var(--cds-layer-accent);
        color: var(--cds-icon-primary);

        & > svg {
            width: 1.5rem;
            height: 1.5rem;
            margin: auto;
        }
    }
}

@media (min-width: 42rem) {
    .stat_block {
        grid-column: span 2 / span 2;

        & > .icon {
            display: flex;
        }
    }
}

@media (min-width: 66rem) {
    .stat_block {
        grid-column: span 6 / span 6;
    }
}

.terminal {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .overflows_container {
        width: 100%;
    }

    & > .container {
        padding: 0.5rem;
        background: #000000;
        min-height: 16rem;
        flex: 1;
        font-family: ibm-plex-mono, Menlo, Monaco, monospace;
        font-size: 0.875rem;

        & #terminal {
            height: 100%;
        }
    }

    & .command_icon {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 10;
        user-select: none;
        height: 100%;
        padding: 0 0.75rem;
        color: var(--cds-icon-secondary);
    }

    & .command_input {
        position: relative;
        background: var(--cds-field);
        color: var(--cds-text-primary);
        padding: 0.5rem 1rem 0.5rem 2.5rem;
        width: 100%;
        font-family: ibm-plex-mono, Menlo, Monaco, monospace;
        font-size: 0.875rem;
        border: none;
        border-top: 1px solid var(--cds-border-subtle-01);
        outline: none;
    }

    & .command_input:focus {
        box-shadow: inset 0 0 0 2px var(--cds-focus);
    }
}

.chart_container {
    background: var(--cds-layer);
    border: 1px solid var(--cds-border-subtle-01);
    padding-top: 0.5rem;
    position: relative;
}
