.manager_actions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;

    & button {
        width: 100%;
    }

    & button:first-child {
        grid-column: span 2;
    }
}

@media (min-width: 42rem) {
    .manager_actions {
        grid-template-columns: repeat(3, minmax(0, 1fr));

        & button:first-child {
            grid-column: span 1;
        }
    }
}

@media (min-width: 66rem) {
    .manager_actions {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        margin-bottom: 0;

        & button {
            width: auto;
        }
    }
}

.file_row {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--cds-layer);
    margin-bottom: 1px;
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--cds-text-primary);
    border-bottom: 1px solid var(--cds-border-subtle-01);

    &:hover {
        background: var(--cds-layer-hover);
        color: var(--cds-text-primary);
    }

    & > .details {
        display: flex;
        flex: 1;
        align-items: center;
        color: var(--cds-text-secondary);
        text-decoration: none;
        padding: 0.5rem 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:not(a) {
            cursor: default;
        }
    }
}
